<% content_for :title do %>About<% end %>
<h2>About</h2>
<p>Designed for easy and simple access to Prague public transport timetables via mobile phone.</p>

<h2>Author</h2>
<p>Coded in Feb 2011 using Ruby on Rails 3. Special thanks to StackOverflow guys!</p>